.SortBySection {
 padding-top: 10px;
 padding: 10px 0;
 background-color: #F6F6EF;
 max-width: 1609px;
 width: 100vw;
}

.LabelOne {
    margin-left: 10px;
    padding-right: 10px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

.SelectOne, .SelectTwo, .SelectThree {
    background-color: #F6F6EF;
    padding: 5px 0px;
    border-radius: 8%;
    font-size: 14px;
    color: #5C5C5C;
    border: 1px solid #5C5C5C;
}
.LabelTwo, .LabelThree {
    padding-left: 10px;
    padding-right: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

.ShareImage {
    float: right;
    margin-right: 15px;
    height: 16px;
}